[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11.9"

[packages]
zeno-cli = { path = ".", editable = true }
toml = "*"

[dev-packages]
black = "*"
mypy = "*"
watchdog = "*"
pytest = "*"
