__pycache__/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.log
*.mp4
*.png
*.npy
*.npz
outputs/
venv/
.env
.env.*
.idea/
.vscode/
__snapshots__/
*.DS_Store
tests/
project_dump.txt
tools/
*.egg-info/
.cache/
.build/
site/
node_modules/
coverage/
htmlcov/
dist/
*.ttf
.dpignore