[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numba = "*"
numpy = "*"
pandas = "*"
pillow = "*"
imageio = "*"
imageio-ffmpeg = "*"
typing-extensions = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
watchfiles = "*"

[requires]
python_version = "3.13.5"
